.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs
node_modules

#!.yarn/cache
.pnp.*

# 빌드된 결과물(demo/dist 폴더) 무시
# TODO(@smosco): core/dist도 무시해도 되는지 고민중
demo/dist

# TypeScript 빌드 캐시 파일 무시
tsconfig.tsbuildinfo

