* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.subtitleContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: auto;
  padding: 1.5rem;
  border: 2px solid #ececec;
  border-radius: 0.75rem;
  overflow-y: auto;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
}

.lineViewContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .skipButtonContainer {
    align-self: end;

    button {
      cursor: pointer;
    }
  }
}

.blockViewContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  // TODO(@smosco): 블록뷰에만 height 따로 줌
  height: 16rem;

  .subtitleItem {
    padding: 16px;
    border-radius: 12px;
    transition: background-color 0.5s ease-in-out;

    .timeButton {
      width: 5rem;
      padding-inline: 0.75rem;
      padding-block: 0.5rem;
      margin-bottom: 0.5rem;
      border: none;
      border-radius: 9999px;
      background-color: gray;
      cursor: pointer;
      font-size: 0.75rem;
      color: white;
    }
  }
}

.textView {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .textEN {
    font-weight: bold;
  }
}
