.controlBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  box-shadow: rgb(208, 205, 205) 0px 0px 10px 0px;
  border-radius: 10px;
}
.leftControlBar {
  display: flex;
  flex-direction: row;
}
.rightControlBar {
  display: flex;
  flex-direction: row;
}

button {
  background-color: transparent;
  border: none;
  color: gray;
  margin: 0 10px;
  font-size: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.timeDiv {
  display: flex;
  background-color: transparent;
  align-items: center;
  border: none;
  color: gray;
  margin: 0 10px;
  font-size: 0.8rem;

  cursor: pointer;
  margin: 0 10px;
}
