.videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  // padding: 20px; /* 원하는 padding 적용 */
  border-radius: 20px; /* 바깥쪽 모서리 둥글게 */
  overflow: hidden; /* 자식 요소가 부모 크기를 넘지 않도록 설정 */
}

.videoWrapper iframe {
  width: 100%;
  height: 100%;
  clip-path: inset(0 round 20px); /* 안쪽 모서리 둥글게 */
}
