.video {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 640px;
  border-radius: 20px; /* 바깥쪽 모서리 둥글게 */
  overflow: hidden; /* 자식 요소가 부모 크기를 넘지 않도록 설정 */
}

.video iframe {
  width: 100%;
  height: 100%;
  clip-path: inset(0 round 20px); /* 안쪽 모서리 둥글게 */
}
.controlBarWrapper {
  position: absolute;
  width: 100%;
  bottom: -5px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rg#cf6df3 100%);
}

.controlBar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0px 10px;
}
.leftControlBar {
  display: flex;
  flex-direction: row;
}
.centerControlBar {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: row;
}

.volumeSlideBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  input {
    max-width: 50px;
  }
}

button {
  background-color: transparent;
  border: none;
  color: white;
  margin: 0 10px;
  font-size: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.timeViewBox {
  display: flex;
  background-color: transparent;
  align-items: center;
  border: none;
  color: white;
  margin: 0 10px;
  font-size: 0.8rem;
  cursor: pointer;
  margin: 0 10px;
}

/* 드래그 가능한 진행 바 */
.progressBar {
  position: relative;
  width: 100%;
  height: 20px;
  // margin: 10px 0;
  background: rgba(255, 255, 255, 0.3); /* 기본 채우기 색상 */
  border-radius: 5px;
  cursor: pointer;
}

.progressFill {
  height: 100%;
  background-color: hwb(218 0% 0%); /* 진행된 부분의 색상 */
  border-radius: 5px 0 0 5px;
  transition: width 0.25s ease; /* 진행바 변화 시 전환 효과 */
}
